* {
  box-sizing: inherit;
}

body {
  background-color: #F0F4F9;
  margin: 0px;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 48px 0;
  margin: 0;
  min-height: 765px;
  min-width: 960px;
}

.container {
  background-color: #ffffff;
  width: 1000px;
  height: 280px;
  border-radius: 28px;
  margin: 0px 174.5px;
  padding: 108px 36px 36px;
  margin-left: auto;
  margin-right: auto;
}

.group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.left {
  width: 460px;
  height: 253.5px;
  margin: -72px 0px 0px;
  padding: 0px 24px 0px 0px;
}

#icon {
  width: 48px;
  display: flex;
}

.email-area {
  margin: 24px 0px 0px;
}

#email-found {
  font-size: 36px;
}

#text {
  margin: 16px 0px 0px;
  font-size: 16px;
}

.email-box {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 8px 0px 0px;
}

.right {
  box-sizing: inherit;
  position: relative;
  left: 10px;
  width: 500px;
  height: 180px;
}

.email {
  width: 450px;
  height: 28px;
  font-size: 17px;
  padding: 13px 15px;
}

.low {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 32px;
  width: 100%;
  position: relative;
}

.low-container {
  display: flex;
  flex-direction: row-reverse;
}

.next {
  padding: 0px 25px;
}

.next-button {
  background-color: #0B57D0;
  color: #ffffff;
  border-radius: 20px;
  border: none;
  display: inline-flex;
  align-items: center;
  padding: 0px 24px;
  margin: 6px 0px;
  height: 48px;
  cursor: pointer;
}

span {
  font-weight: 500;
  font-size: 16px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px 280px;
}

select {
  background-color: #f0f4f9;
  border: none;
  margin-top: 5px;
  width: 200px;
  height: 48px;
}

.menu {
  display: flex;
}

input[type="button"] {
  padding: 8px 12px;
  border: none;
  background: none;
  cursor: pointer;
}

#help {
  margin: 16px 4px 16px 0px;
}

#alone {
  margin: 16px 4px;
}

#ToU {
  margin: 16px 0px 16px 4px;
}